<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

<div>
    <div><h1>Upload Work</h1></div>
    <div><h3>Title:</h3></div><input>
    <div><h3>Date</h3></div><input id="datepicker">
    <div><h3>Description</h3></div><textarea></textarea>
    <div><h3>Choose Image</h3></div><input type="file">

</div>


<script src ="../js/services/datepicker.js"></script>
</body>
</html>