<div id="menubar" >
<div class = "menubar" >

    <ul class = "menu-list">
        <li class = "menu-list-item"><a href="../index.html"><span>Home</span></a></li>
        <li class = "menu-list-item"><a href="./multiplepage/about.html">About</a></li>
        <li class = "menu-list-item"><a href="./multiplepage/accomplishment.html">Accomplishments</a></li>
        <li class = "menu-list-item"><a href="./multiplepage/contact.html">Contact</a></li>
        <li class = "menu-list-item"><a href="#"><img src ="http://www.apple.com/ac/globalnav/2.0/en_US/images/globalnav/search/image_large.svg"/></a></li>
        <li class = "menu-list-item"><a href="#"><img src="img/dropdownbar.png"></a></li>
    </ul>
    </div>

</div>