<div class ="container">
    <div id="container-slider">
        <div id="slider">
            <div id="mask">
                <ul>
                    <li id="first" class="firstanimation">
                        <a class="animation-anchor" href="#"><img src="../img/nature1.jpg" alt="Nature 1"/></a>
                        <div class="tooltip"><h1>Nature 1</h1></div>
                    </li>

                    <li id="second" class ="secondanimation">
                        <a class="animation-anchor" href="#"><img src="../img/nature2.jpg" alt="Nature 2"/></a>
                        <div class="tooltip"><h1>Nature 2 </h1></div>
                    </li>

                    <li id="third" class ="thirdanimation">
                        <a class="animation-anchor" href="#"><img src="../img/nature3.jpg" alt="Nature 3"/></a>
                        <div class="tooltip"><h1>Nature 3 </h1></div>
                    </li>
                    <li id="fourth" class ="fourthanimation">
                        <a class="animation-anchor" href="#"><img src="../img/nature4.jpg" alt="Nature 4"/></a>
                        <div class="tooltip"><h1>Nature 4 </h1></div>
                    </li>
                </ul>
            </div>
            <div class="progress-bar"></div>
        </div>
    </div>
</div>